@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0.75em 1.75em;

    border-radius: 10px;
    border: none;

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    font-family: inherit;
    font-size: 1.5rem;
}

.container {
    height: 100vh;

    display: grid;
    place-items: center;

    font-family: 'Ubuntu', sans-serif;
}

.main-counter {
    display: flex;
    place-items: center;   
    gap: 30px;
}

.main-counter > p {
    font-size: 20px;
}